{% extends 'master_page.html' %}



{% block content %}
<h2>Enter your flight number to check in.</h2>
<form class="search-form" action="/show_boarding_pass" method="post">
    <div class="form-group">
        <label for="from">Ticket Number</label>
        <input type="text" id="ticket_no" name="ticket_no" placeholder="0005432660784" >
    </div>

    <div class="form-group">
        <label for="from">Flight Number</label>
        <input type="text" id="flight_no" name="flight_no" placeholder="5984" >
    </div>
   
    <div class="groupOne">
        <button type="submit" class="submitButton">Check in</button>
    </div>
</form>
{% endblock%}