{% extends 'master_page.html' %}


{% block content %}
<h2>Enter Your Ticket Number to Manage Your Flight.</h2>
<form action="/manage_tickets" class="search-form" method="post">
    <div class="form-group">
        <label for="from">Ticket Number</label>
        <input type="number" id="ticket_no" name="ticket_no" placeholder="Your Ticket Number" >
    </div>

    <div class="form-group">
        <label for="from">ID Number</label>
        <input type="number" id="passenger_id" name="passenger_id" placeholder="Your ID Number" >
    </div>
   
    <div class="groupOne">
        <button type="submit" class="submitButton">Check Status</button>
    </div>
</form>
{% endblock%}