{% extends 'master_page.html' %}

{% block content %}

{% if aircraft and 'model' in aircraft %}
<p>Aircraft Model: {{ aircraft['model'] }}  </p>
{% else %}
<p class="noFlight">No flight found</p>
{% endif %}

{% if checkin and'seat_no' in checkin %}
<p>Seat number: {{ checkin['seat_no'] }}  </p>
{% else %}
<p class="noFlight">NOT CHECKED IN YET</p>
{% endif %}

<table class="table">
    
    <tr>
        <th>Scheduled departure:</th>
        <td> {{ flight['scheduled_departure'] }}</td>
    </tr>
    <tr>
        <th>Departure airport:</th>
        <td>{{ flight['departure_airport']  }}</td>
    </tr>
    <tr>
        <th> Arrival Airport:</th>
        <td>{{ flight['arrival_airport']}}</td>
    </tr>

</table>

{% endblock %}
