<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Booking Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

</head>
<body>
    
    <div class="container"> <!-- Container for all other content -->
    <div class="bgImg"></div> <!-- Background image div -->

        <header >
            <nav >
                <div class="navbar">
                    <a href="#" class="navButton">Flight</a>
                    <a href="#" class="navButton">Check-in</a>
                    <a href="#" class="navButton">Flight status</a>
                </div>
            </nav>
            <div class="hero margin ">
                <div class="search-area">
                    <h2>Where do you want to explore?</h2>
                    <form class="search-form">
                        <div class="form-group">
                            <label for="from">From</label>
                            <input type="text" id="from" name="from" placeholder="Istanbul">
                        </div>
                        <div class="form-group">
                            <label for="to">To</label>
                            <input type="text" id="to" name="to" placeholder="Destination">
                        </div>
                        <div class="form-group">
                            <label for="passengers">Passengers</label>
                            <input type="number" id="passengers" name="passengers" min="1" value="1">
                        </div>
                        <div class="groupOne">
                            <button type="submit" class="submitButton">Search flights</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>

      
    </div>
</body>
</html>
