{% extends 'master_page.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/styles/styles.css') }}">
{% endblock %}

{% block content %}
  {% if fare_condition == "Business" %}
    {% if if_checked_in %}
      <p>You cannot change your ticket class since you have checked in already.</p>
    {% else %}
      <p>You can change your ticket to Economy class. </p>
      <form method="post" action="{{ url_for('degrade_ticket') }}">
        <input type="hidden" name="ticket_no" value="{{h_ticket_no}}" />
        <button type="submit">Downgrade Your Ticket to Economy</button>
      </form>
    {% endif %}
  {% else %}
    {% if if_checked_in %}
      <p>You cannot change your ticket class since you have checked in already.</p>
    {% else %}
      <p>You can upgrade your ticket to Business! </p>
      <form method="post" action="{{ url_for('upgrade_ticket') }}">
        <input type="hidden" name="ticket_no" value="{{h_ticket_no}}" />
        <button type="submit">Upgrade Your Ticket to Business</button>
      </form>
    {% endif %}
  {% endif %}

  {% if if_checked_in %}
    <p>You cannot cancel your flight since you have checked in already.</p>
  {% else %}
    <p>If you haven't checked in yet, you can cancel your flight.</p>
    <form method="post" action="{{ url_for('cancel_flight') }}">
      <input type="hidden" name="ticket_no" value="{{h_ticket_no}}" />
      <button type="submit">Cancel Your Flight</button>
    </form>
  {% endif %}

  <form action="{{ url_for('search_flight') }}">
    <button type="submit">Main Page</button>
  </form>

{% endblock %}