<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Booking Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">

</head>
<body>
    
    <div class="container"> <!-- Container for all other content -->
    <div class="bgImg"></div> <!-- Background image div -->

        <header >
            <nav >
                <div class="navbar">
                    <a href="/search_flight" class="navButton">Flight</a>
                    <a href="/check_in" class="navButton">Check-in</a>
                    <a href="/check_flight_status" class="navButton">Check Flight Status</a>
                    <a href="/check_ticket_number" class="navButton">Manage Your Tickets</a>
                </div>
            </nav>
            <div class="hero margin ">
                <div class="search-area">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </header>

      
    </div>
</body>
</html>