{% extends 'master_page.html' %}


{% block content %}
<form action="/buy_ticket" class="search-form" method="post">
    <div class="form-group">
        {% for flight in flights %}
        <p> From {{ flight['departure_airport'] }} airport to {{ flight['arrival_airport'] }} airport departuring on {{ flight['scheduled_departure'] }} for {{ flight['price']}} </p> <input type="submit" text="BUY" name="flight_id" value="{{ flight['flight_id'] }}"/>
        {% endfor %}
    </div>
</form>
{% endblock%}

